.DS_Store
.Rproj.user
.Rhistory
lung-smoking.Rproj

*.rds
*.bed

code/.venv
code/__pycache__
code/test*.py
code/six_all_but_one.py
code/variants/.Rlibs
code/messing_around.py

data/gene_coordinates.csv
data/genie_9/
data/luad_broad/
data/luad_fm-ad/
data/luad_mskcc_2015/
data/luad_oncosg_2020/
data/luad_tcga/
data/luad_tsp/
data/lung_msk_2017/
data/nsclc_pd1_msk_2018/
data/nsclc_tracerx_2017/
data/lung_nci_2022/
data/gencode.v38lift37.basic.annotation.gtf

output/*
/data/gene_panels/all_panel_samples.txt

figures/*