code/.venv
/data/gene_coordinates.csv
code/test1.py
.DS_Store
code/test2.py
.Rproj.user
code/test3.py
code/test4.py
/data/*/*
code/test6.py
code/test7.py
code/test8.py
code/test9.py
code/testX.py
code/testXI.py
code/six_all_but_one.py
