/code/.venv/
/code/variants/.Rlibs/
/data/gencode.v38lift37.basic.annotation.gtf
/data/gene_panels/all_panel_samples.txt
/data/genie_9/
/data/hg38ToHg19.over.chain
/data/luad_broad/
/data/luad_cptac_2020/
/data/luad_fm-ad/
/data/luad_mskcc_2015/
/data/luad_oncosg_2020/
/data/luad_tcga/
/data/luad_tsp/
/data/lung_msk_2017/
/data/lung_nci_2022/
/data/nsclc_pd1_msk_2018/
/data/nsclc_tracerx_2017/
/data/yale_luad/
/output/
/data/all_preloaded_mafs.txt
/data/bed_files/
/data/nonsmoking_sample_ids.txt
/data/pan_data_cesa.rds
/data/panel_nonsmoking_sample_ids.txt
/data/panel_smoking_sample_ids.txt
/data/smoking_sample_ids.txt
